html {
    height: 100%;
    /*background-color: gray;*/
}
body{
    background-image: url("images/img.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*.container {
    margin-top: 20%;
    background-color:rgb(0, 162, 255);
    height: 10%;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;


}*/




#players {
    border-radius: 30px;
    border: 2px solid  #480b4794;
    /* margin: 40px auto; */
    /*margin: 0 auto;*/
    background-color: #480b4794;
    /*background-color: #3a4895;*/
    width: 300px;
    /*min-width: 300px;*/
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#play {
    margin-left: 20px;
    width: 100px;
}
#game {
    border: 2px solid  #480b4794;
    border-radius: 30px;
    /*margin: 0 auto;*/
    text-align: center;
    /*background-color:#3FC;*/
    background-color: #480b4794;
    /*background-color: #3a4895;*/


    width: 600px;
    /*min-width: 600px;*/
    height: 420px;
    display: none;
    padding-top: 70px;


}

p{
    font-size: 1em;
    color: white;


}

#guess{
    color: white;
    font-weight: bold;
    font-size: 1em;
}
#check{
    color: white;
    font-weight: bold;
    font-size: 1em;
    
}
#playersName{
    color: white;
    font-weight: bold;
    /*font-size: 4em;*/
}


.player1{
    font-size: 1em;
    font-weight: bold;
    /*font-family: 'Anton', sans-serif;*/

}
h1{
    font-family: 'Lobster', cursive;

}
input{
    text-align: center;
}

span{
    color: red;
}

#again{
    /* display: none; */
    border: 2px solid  #480b4794;
    border-radius: 30px;
    /* margin: 0 auto; */
    text-align: center;
    /*background-color:#3FC;*/
    background-color: #480b4794;
    /*background-color: #3a4895;*/


      width: 600px;
    /*min-width: 600px;*/
    height: 420px; 
    display: none;

    padding-top: 170px;
}

